body {
    height: 100%;
    background-color: #000 !important;
}

.container {
    background-color: #000 !important;
}

.jumbotron {
    background-color: #000 !important;

}

.selected {
    border: 2px solid red;
}

.player-image {
    width: 100px;
    height: 100px;
    padding: 5px;
    cursor: pointer;
}

.active,
.player-image:hover {
    background-color: #f2f2f2;
    color: white;
}


.player-image.selected {
    border: none;
}

div.member.selected {
    border: none;
}

.member {
    display: inline-block;
    text-align: center;
}

.member p {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 1px;
}

#showSelectedNames {
    margin-bottom: 100px;
}

#showSelectedNames>div {
    padding-bottom: 55px;
}

.roleText {
    margin: 0px;
}

/*
/*
/*