.selected {
    border: 2px solid red;
}

.player-image {
    width: 100px;
    height: 100px;
    padding: 5px;
    cursor: pointer;
}

.active,
.player-image:hover {
    background-color: #f2f2f2;
    color: white;
}